.button_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
  }
  

  .navbutton {
    border: none;
    text-align: center;
    cursor: pointer;
    /* text-transform: uppercase; */
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    background-color: rgb(28, 100, 232);
    /* padding: 10px 10px; */
    /* border-radius: 9px; */
    /* margin: 0 auto; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .navbutton span {
    position: relative; 
    z-index: 1;
  }
  
  .navbutton:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #1fcae0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-110%) translateY(-25%) rotate(45deg);
  }
  
  .navbutton:hover:after {
    -webkit-transform: translateX(29%) translateY(-25%) rotate(45deg);
    transform: translateX(30%) translateY(-25%) rotate(45deg);
  }
  